div {
  background-color: gray;
  width: 140px; /*largura*/
  height: 80px; /*altura*/
  padding: 30px; /*distancia do conteudo com a borda*/
  border: 10px solid #111;
  margin: 30px;
}

body {
  margin: 0px;
}

h1 {
  background: #84e;
  padding: 20px;
  border: 4px solid #111;
  margin: 30px;
}
