body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

h2 {
  margin-top: 0px;
}

.comprar {
  background: #a8f;
  color: #103;
  text-decoration: none;
  border-radius: 4px;
  padding: 10px 20px;
}

.item {
  background-color: #f7f7f7;
  border: 1px solid #e7e7e7;
  padding: 20px;
  border-radius: 4px;
  display: grid;
}

.grid {
  display: grid;
  grid-template-columns: auto auto /* 1fr fraciona o espaço que sobra entre os elementos, auto deixa a largura de acordo com o maior conteudo*/;
  gap: 20px; /*cria uma margem para baixo e para os lados*/
  justify-content: center; /*strech, space-evenly, para justificar o conteudo ou alinhar. Precisa de ter espaço sobrando*/
  align-content: center; /*end, space-evenly*/
  place-content: start;
}
